body {margin:0; padding:0; background: #ffc0cb;} 
nav#topmenu ul {list-style: noen; background-color: #a589ff; text-align: center; padding: 0; margin: 0}
nav#topmenu li {font-size: 24px; line-height: 40px; height: 40px; display: incline-block; padding: 20px}
nav#topmenu a {text-decoration: none; lolor: #fff;}
h1 {font-size: 28px;}
header >p {font-style: italic;}
article >p {font-size: 24px;}
footer {background: #ffc0cb; color: #fff; text-align: center;}
nav ul li { display: inline; margin-right: 20px;}