.my-list {margin: 0 auto;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    border: 1px solid #f7f38c; 
    background-color: #f7f38c; 
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2)}
.my-list ol {margin: 12px}
.my-list p {text-align: center}
